<h1>{{message}}</h1>
<p>This is the default view for the application.</p>
<p>You can change this view by editing the file <code>views/hello.jl.html</code>.</p>
<q-checkbox label="WOMMASEHN" v-model="wommasehn" :color="PRIMARY"></q-checkbox>
<section title="contract ">
    <h1>contract management</h1>
    <q-card class="q-mt-md q-mr-sm bg-yellow text-blue">
        contract
        <div class="q-pa-md">
            <div class="row">
                <div class="col">
                    <q-input label="description" v-model="cs['revision']['description']"></q-input>
                </div>
                <div class="col">
                    <q-input label="ref_history" v-model="cs['ref_history']['value']"></q-input>
                </div>
                <div class="col">
                    <q-input label="tsdb_validfrom" v-model="cs['tsdb_validfrom']"></q-input>
                </div>
            </div>
        </div>
    </q-card>
</section>
<section>
    <hr />
    <q-card class="q-mt-md q-mr-sm bg-blue text-white">contract partners
        <div v-for="(pr,pridx) in cs['partner_refs']" class="q-pa-md">
            <div class="q-pa-md">
                <q-checkbox label="selected" v-model="cs['partner_refs'][pridx]['selected']"></q-checkbox>
            </div>
            <div class="row">
                <div class="col">
                    <q-input label="ref_component" v-model="pr['rev']['ref_component']['value']"></q-input>
                </div>
                <div class="col">
                    <q-input label="description" v-model="pr['rev']['description']"></q-input>
                </div>
                <div class="col">
                    <q-select label="ref_partner sel" v-model="pr['rev']['ref_partner']['value']" :options="partner">
                    </q-select>
                </div>
                <div class="col">
                    <q-input label="ref_partner" v-model="pr['rev']['ref_partner']['value']"></q-input>
                </div>
            </div>
        </div>
    </q-card>
</section>
<section>
    <hr />
    <q-card class="q-mt-md q-mr-sm bg-teal text-white">product items
        <div v-for="pi in cs['product_items']" class="q-pa-md">
            <div class="row">
                <div class="col">
                    <q-input label="description" v-model="pi['revision']['ref_component']['value']"></q-input>
                </div>
                <div class="col">
                    <q-input label="description" v-model="pi['revision']['description']"></q-input>
                </div>
            </div>
            <hr />
            <q-card class="q-mt-md q-mr-sm bg-purple text-white">tariff items
                <div v-for="ti in pi['tariff_items']" class="q-pa-md">
                    <div class="row">
                        <div class="col">
                            <q-input label="description" v-model="ti['tariff_ref']['rev']['description']"></q-input>
                        </div>
                        <div class="col">
                            <q-input label="ref_tariff" v-model="ti['tariff_ref']['rev']['ref_tariff']['value']">
                            </q-input>
                        </div>
                        <div class="col">
                            <q-input label="deferment" v-model="ti['tariff_ref']['rev']['deferment']">
                            </q-input>
                        </div>
                        <div class="col">
                            <q-input label="annuity_due" v-model="ti['tariff_ref']['rev']['annuity_due']">
                            </q-input>
                        </div>
                    </div>
                    <hr />
                    <q-card class="q-mt-md q-mr-sm bg-red text-white">tariff item partners
                        <div v-for="tipr in ti['partner_refs']" class="q-pa-md">
                            <div class="row">
                                <div class="col">
                                    <q-input label="ref_component" v-model="tipr['rev']['ref_component']['value']">
                                    </q-input>
                                </div>
                                <q-input label="id" v-model="tipr['rev']['id']['value']">
                                </q-input>
                                <q-input label="description" v-model="tipr['rev']['description']">
                                </q-input>
                                <q-input label="ref_role" v-model="tipr['rev']['ref_role']['value']">
                                </q-input>
                                <q-input label="ref_partner" v-model="tipr['rev']['ref_partner']['value']">
                                </q-input>
                            </div>
                        </div>
                    </q-card>
                </div>
            </q-card>
        </div>
    </q-card>
</section>